.loginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
}

.loginContainer .login__form {
    background: var(--color-dark);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer .brand {
    width: 140px;
    text-align: center;
    margin-bottom: 30px;
}

.login-btn {
    padding: 25px 20px;
    border-radius: 12px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

.loginContainer span {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-align: end;

}

/* //profile */
.setProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    max-inline-size: 100%;
    width: 25rem;
}

.avtars {
    display: flex;
    gap: 2rem;
}

.avatar {
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;

}

.avatar img {
    height: 6rem;
    transition: 0.5s ease-in-out;
}

.selected {
    border: 0.4rem solid var(--color-primary);
}



/* //animation */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, var(--color-bg) 20%, var(--color-bg-variant) 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}